<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js">
    </script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/sql/sql.min.js">
    </script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/sql-hint.min.js">
    </script>

    <style>
        hr.solid {
            border-top: 2px solid #999;
        }
        .dropdown-menu {
            min-width:125px;
        }
        .table-responsive {
            white-space: nowrap;
        }
    </style>
    <title>CS527 - Project 1</title>
</head>
<body>

<div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <!--    <span>Instance</span>-->
    <span class="vr"></span>
    <div class="btn-group">
        <button id="selected-instance" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" style="width: 125px;">
            MySQL
        </button>
        <ul class="dropdown-menu">
            <li>
                <button id="rds" class="dropdown-item">MySQL</button>
            </li>
            <li>
                <button id="redshift" class="dropdown-item">Redshift</button>
            </li>
        </ul>
    </div>
<!--    <span>Database</span>-->
    <span class="vr"></span>
    <div class="btn-group">
        <button id="selected-database" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" style="width: 125px;">
            instacart
        </button>
        <ul class="dropdown-menu">
            <li>
                <button id="abc-retail" class="dropdown-item">ABC Retail</button>
            </li>
            <li>
                <button id="instacart" class="dropdown-item">instacart</button>
            </li>
        </ul>
    </div>
</div>
<!--<div class="top-container">-->
<!--    <div class="row align-bottom">-->
<!--        <div class="col-4">-->
<!--            <h1 id="database-name" class="display-4">Database:</h1>-->
<!--        </div>-->
<!--        <div class="col d-flex align-items-center">-->
<!--            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--                <input type="radio" class="btn-check" name="btnradio" id="radio-mysql" autocomplete="off" checked>-->
<!--                <label class="btn btn-outline-primary" for="radio-mysql">MySQL</label>-->

<!--                <input type="radio" class="btn-check" name="btnradio" id="radio-redshift" autocomplete="off">-->
<!--                <label class="btn btn-outline-primary" for="radio-redshift">Redshift</label>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<hr class="solid">

<div id="editor"></div>

<hr class="solid">

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary w-100" id="button-run">Run</button>
    </div>
</div>

<hr class="solid">

<div class="row">
    <div class="row">
        <div class="col-12">
            <label id="status">Query Status: <strong id="status-content"></strong>
<!--                <span id="#query-status" class="spinner-border text-primary spinner-border-sm" role="status">-->
<!--                    <span class="visually-hidden"></span>-->
<!--                </span>-->
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label id="time-elapsed">Time Elapsed: <strong id="exec-time"></strong> </label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label id="total-rows">Total rows: <strong id="row-number"></strong> </label>
        </div>
    </div>
</div>

<hr class="solid">

<div id="result-table" class="table-responsive"></div>

</body>

<script>
    const editor = CodeMirror(document.querySelector('#editor'), {
        lineNumbers: true,
        tabSize: 2,
        mode: 'text/x-mysql',
        theme: 'dracula'
    });
    editor.setSize(null, 175);

    let queryInstance = 'rds', queryDatabase = 'instacart';

    $('#rds').click(function () {
        queryInstance = 'rds';
        $('#selected-instance').html('MySQL');
    });

    $('#redshift').click(function () {
        queryInstance = 'redshift';
        $('#selected-instance').html('Redshift');
    });

    $('#instacart').click(function () {
        queryDatabase = 'instacart';
        $('#selected-database').html('Instacart');
    });

    $('#abc-retail').click(function () {
        queryDatabase = 'abc';
        $('#selected-database').html('ABC Retail');
    });

    $.makeTable = function (tData) {
        let table = $('<table class="table table-bordered table-hover table-striped">');
        let tblHeader = "<thead class='table-dark'><tr>";
        for (let k in tData[0]) tblHeader += "<th scope='col'>" + k + "</th>";
        tblHeader += "</tr></thead>";
        $(tblHeader).appendTo(table);
        $('<tbody>').appendTo(table);
        $.each(tData, function (index, value) {
            let TableRow = "<tr>";
            $.each(value, function (key, val) {
                TableRow += "<td>" + val + "</td>";
            });
            TableRow += "</tr>";
            $(table).append(TableRow);
        });
        $('</tbody>').appendTo(table);
        return ($(table));
    };

    const clearLabel = function () {
        $('#result-table').empty()
        $('#exec-time').empty()
        $('#status-content').empty()
        $('#row-number').empty()
    }

    const getQueryUrl = function () {
        return `/ds/${queryInstance}/${queryDatabase}`;
    }

    $("#button-run").click(function () {
        $.ajax({
            type: "POST",
            url: getQueryUrl(),
            data: editor.getValue(),
            beforeSend: function () {
                clearLabel()
                $('#status-content').append('<span id="#query-status" class="spinner-border text-primary spinner-border-sm" role="status"> <span class="visually-hidden"/> </span>')
            },
            complete: function () {
                $('#query-status').remove()
            },
            success: function (result) {
                console.log(result)
                if (result.data !== null) {
                    let tableData = JSON.parse(result.data)
                    $('#row-number').text(tableData.length)
                    let table = $.makeTable(tableData)
                    $(table).appendTo('#result-table')
                }
                let elapsedTime = result.elapsedTime
                let status = result.status
                $('#exec-time').text(`${elapsedTime} ms`)
                $('#status-content').text(status)
            },
            contentType: 'text/plain'
        });
    });
</script>

</html>